@page "/actors"
@* @using ProyPelis.Client.Pages.Components
@inject IServiceActor actor *@

<div class="jumbotron">
    <div class="form-group">
        <a href="actors/create" class="btn btn-info">Create Actor</a>
    </div>
</div>

@code{
}